streamlit
pandas
openai
langchain
langchain-community
langchain-core
langchain-openai
langchain-chroma
chromadb
pysqlite3-binary
protobuf==3.20.3
pysqlite3-binary
pypdf
tiktoken
sqlite3
